/* Estilos Gerais do Rodapé */
/* Estilos base do footer */
footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo content certifications"
    "copyright copyright copyright";
  gap: 20px;
  align-items: center;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}

.footer-logo img{
  max-width: 12vw;
}

.social-media img {
  height: 40px;
  width: auto;
  margin-left: 10px;
}

.certificacoes img {
  max-width: 20vw;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
  }

  .footer-logo img{
    max-width: 30vw;
  }

  .social-media img {
    max-width: 9vw;
  }

  .certificacoes img {
    max-width: 50vw;
  }

  .footer-text {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .copyright {
    font-size: 10px;
  }

  .certificacoes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .certificacoes img {
    width: 75%;
  }
}
