@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("footer.css");
@import url("header.css");

body {
  height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
  background-image: url(/img/imagens/FUNDO\ LARANJA.jpg);
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
=======
/* header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  height: 70px;
}

header .logo {
  max-height: 150px;
} */

nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.5s;
}

nav ul li a:hover,
.links a:hover {
  color: orange;
  border-bottom: 2px solid orangered;
}

.login-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: darkblue;
  transform: scale(1.1);
}

>>>>>>> linha_do_tempo_paralela
main {
  flex: 1; /* Ocupa todo o espaço restante */
  padding: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.container {
  background-color: #fff;
<<<<<<< HEAD
  padding: 50px;
=======
  padding: 100px;
>>>>>>> linha_do_tempo_paralela
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.text-content h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.text-content h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.text-content input {
  display: flex;
  justify-content: left;
  background-color: rgb(213, 213, 213);
  border-radius: 8px;
  border: none;
  font-size: 20px;
  height: 48px;
  width: 100%;
}

.text-content button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  margin: 40px 225px;
}

.text-content button:hover {
  background-color: darkblue;
  transform: scale(1.1);
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 0;
}

.links a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 800;
}

<<<<<<< HEAD
/* Media queries para Tablets */
@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .container {
    padding: 50px;
  }

  .text-content button {
    width: 50%;
    margin: 40px auto;
  }

  .links {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .text-content input {
    box-sizing: border-box;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
  }

  .input-login {
    width: 100%;
  }
=======
/* Media queries para Celulares */
@media (max-width: 768px) {
>>>>>>> linha_do_tempo_paralela
}

/* Media queries para Celulares */
@media (max-width: 430px) {
  body {
    height: 100%;
<<<<<<< HEAD
    background-size: cover;
=======
    background-size: cover; 
>>>>>>> linha_do_tempo_paralela
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .login-btn {
    font-size: 14px;
  }

  .content {
    width: 100%;
  }

  .container {
    padding: 24px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  .text-content {
    font-size: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .text-content input {
    border-radius: 8px;
  }

  .links a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }

  .text-content h2 {
    margin: 0;
    padding: 8px 0;
  }

  .text-content button {
    margin: 0;
    padding: 16px 0;
  }

  nav ul {
    display: none; /* Oculta o menu de navegação padrão em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o botão do menu hamburger em telas pequenas */
  }

  .mobile-menu {
    display: none; /* Oculta o menu mobile por padrão */
  }

  .mobile-menu.active {
    display: block; /* Exibe o menu mobile quando a classe 'active' é adicionada */
  }

  .content {
    flex-direction: column;
  }
}