@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url("footer.css");
@import url("header.css");

body {
  height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
  background-image: url(/img/imagens/FUNDO\ LARANJA.jpg);
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main{
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.text-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  font-size: 70px;
  margin: 60px;
  text-align: center;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.text-content p {
  font-size: 26px;
  font-family: "Caveat", system-ui;
  text-align: center;
  color: #fff;
}

.imagem-one {
  width: 40vw;
  height: auto;
  z-index: 1;
}


@media (max-width: 975px){
  .content{
    padding: 16px;
  }

  .text-content h1{
    margin: 0 60px;
    font-size: 40px;
  }
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 8px;
  }

  .text-content{
    max-width: 100%;
  }
  
  .imagem-one {
    width: 70vw;
  }

  .text-content h1 {
    font-size: 50px;
  }
  
}

@media (max-width: 430px) {
  .content {
    flex-direction: column;
    padding: 8px;
  }

  .text-content{
    max-width: 100%;
  }
  
  .imagem-one {
    width: 70vw;
  }

  .text-content h1 {
    font-size: 50px;
    margin: 0;
  }
  
}